.index_header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.index_header_logo{
	display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;

	h1{
		text-align: center;
	}
}
.fade-in {
	opacity: 0;
  	transition: opacity 2s;
}
.fade-in.active {
	opacity: 1;
}

#landing_page_flower1{
	position: absolute;
	left: -6px;
	top: -5px;
}
#landing_page_flower2{
	position: absolute;
	bottom: 0;
	right: 0;
}
// #landing_page_mflower{

// }