.index_header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.index_header_logo{
	display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;

	h1{
		font-size: 70px;
		text-align: center;
	}
}
.index_body{
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadeinAnimation {
	0%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#landing_page_flower{
	width: 470px;
	height: 500px;
	cursor:pointer;
}
#landing_page_flower1{
	position: absolute;
	left: 0px;
	top: 0px;
}
#landing_page_flower2{
	position: absolute;
	top: 0;
	right: 0;
	transform: scale(-1, -1);
}
#landing_page_flower3{
	position: absolute;
	left: 0px;
	bottom: 0;
}
#landing_page_flower4{
	position: absolute;
	bottom: 0;
	right: 0;
	transform: scale(-1, -1);
}

.bg_img{
	z-index: -1;
}
.bg_wood_detail{
    position: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	z-index: -100;
}
// #landing_page_mflower{

// }